html,body{
  padding: 0;
  margin: 0;
}
body{
  margin:15px;
  background-color: #f2f3f5;
}
.layui-card-header{
  display:flex;
  justify-content:space-between;
  text-align:center;
}
#add_cate{
  margin-top: 10px;
}
#addForm,#editForm{
  padding-top: 20px;
  padding-right: 25px;
}